 <style>
        p{ font-size:26px}
        svg{
           display:inline-block;
           font-size:inherit;
           overflow:visible;
           vertical-align: -.125em;
</style>
           
